body {
	color: #edf;
	background: #101320;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	padding-top: 60px;
}

h1, h2, h3 {
	padding: 10px 0;
}

h1 {
	font-size: 3em;
	text-align: center;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1.3em;
	padding: 10px 0;
}

#display {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

#question {
	padding-bottom: 5px;
	border-bottom: solid 1px #fff;
}

#timeoutBar {
	margin-bottom: 10px;
	height: 10px;
	width: 100%;
	background: rgba(255, 0, 0, 0.4);
}

.answerDiv {
	padding-left: 30px;
}

.answerDiv:hover {
	background: rgba(255, 255, 255, 0.1);
}

#feedback {
	padding-bottom: 5px;
	border-bottom: solid 1px #fff;
}

#next {
	width: 100px;
	text-align: center;
	margin: 10px 0;
	border: solid 1px #fff;
}

#startRound {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	text-align: center;
	border: solid 1px #fff;
}

#results {
	text-align: center;
}

@media (max-width: 500px) {
	#display {
		width: 400px;
	}
}